
.section__bttn{
    &--animationWrapper {
        position: relative;
        overflow: hidden;
    }

    & .bttnTopAnimation {
        position: absolute;
        transform: translateY(20px);
        transition: transform 350ms cubic-bezier(.35,.14,.31,1);
    }

    &--textAnimated{
        position: absolute;
    }
    
    & p {
        transition: transform 200ms ;
    }
}  

.section { 
    &__bttn:hover p {
      transform: translateY(-25px);    
    }
}

// zoom sur image/ 

.section {
    &__imgWrapper {
        overflow: hidden;
        border-radius: 20px;    
    }

    &__img--asianModel {
        transition: 300ms ease-in-out;
        width: 100%;
        height: 100%;
    }

    &__img--asianModel:hover {
        transform: scale(1.1);
    }
}

.rightAnimation__test {
    overflow: hidden;
}
.rightAnimation__test p {
    transition: transform 200ms ease-out;
}

.rightAnimation__test:hover p {
    transform: translateX(10px);
    font-weight: bold;
}

@keyframes landingAnim {
    0% { 
        opacity: 0.005;
        transform: translateY(50px);
        will-change: opacity;
    }

    100% {
        opacity: 1;
        will-change: opacity;
        transform: translateY(0px); 
    }
}

h1 {
    opacity: 0;
    animation: landingAnim 350ms ease-in 300ms forwards;
}

.section--about {
    opacity: 0;
    animation: landingAnim 350ms ease-in 600ms forwards;
}

