:root {
    --background: #FFFFFF;
    --dark-accent: #EEAD8A;
    --light-accent: #FFEDE4;
    --foreground: #000000;
}

@font-face {
    font-family: "anek tamil";
    src: url("/assets/fonts/anek-tamil-tamil-800-normal.ttf");
    font-style: normal;
}

@font-face {
  font-family: 'Anek Tamil';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/anek-tamil@latest/latin-800-normal.woff2) 
  format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/anek-tamil@latest/latin-800-normal.ttf)
  format('truetype'), url(https://cdn.jsdelivr.net/fontsource/fonts/anek-tamil@latest/latin-800-normal.woff) 
  format('woff');
}

* {
   margin: 0;
   padding: 0;
}

header {
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light-accent);
    position: relative;
}

.header--flex {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

ul {
    display: flex;
    gap: 60px;
    list-style-type: none;
}

.logoImgFlex {
    display: flex;
    gap: 12px;
}

li {
    display: flex;
    align-items: center;
    font-family: "Geist Mono",monospace;
    font-size: 15px;
    text-transform: uppercase;
}

.backgroundBttnStyle button {
    background-color: var(--dark-accent);
    padding: 6px;
    border-radius: 5px;
    display: unset;
    border: none;
    text-transform: uppercase;
}

h1, h2 { 
    display: flex;
    font-family: "anek tamil";
    font-weight: bold;
    font-size: 116px;
    text-transform: uppercase;
    margin: -10px 20px;
    gap: 10px;
}

h2 {
    margin-left: 5px;
    gap: 14px;
}

h3 {
    font-family: "anek tamil";
    text-transform: uppercase;
    font-size: 45px;
    line-height: 1;
    justify-content: flex-start;
}

h4 {
    font-family: "anek tamil";
    text-transform: uppercase;
    font-size: 25px;
}

h5 {
    font-family: "anek tamil";
    font-size: 22px;
    font-style: none;
}

.darkAccentHighlight {
    color: var(--dark-accent);
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    outline: 1px solid black;
}

.asianModel {
    width: 100%;
    height: 100%;
    grid-column: 1/3;
}

.makeUpService {
    grid-row:1 ;
    grid-column: 3;
    background-color: var(--light-accent);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 1px solid black;
}

.makeUpServiceFlex {
    position: relative;
    bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.makeUpServiceFlex button {
    width: max-content;
}

p {
    font-family: "Geist";
    font-size: 17px;
}

button {
    font-family: "Geist Mono";
    font-size: 15px;
    background-color: black;
    border-radius: 6px;
    padding: 12px 17px;
}

button a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.history, .greenInvolvement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light-accent);
    padding: 20px;
    outline: 1px solid black;
}

.powderFoundationImg {
    background-color: var(--light-accent);
    display: flex;
    width: 100%;
    height: 100%;
    outline: 1px solid black;
}

.discover {
    display: grid;
    grid-template-columns: 30% 1fr;
    background-color: var(--light-accent);
}

.sshModelImg {
    width: 100%;
    height: 100%;
    grid-column: 2;
    border-top: 1px solid black;
} 

.discoverGrid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.discoverFrame {
    grid-column: 1;
    padding: 20px;
    border-top: 1px solid black;
}

.thinkTitleRowGrid {
    grid-row: 1;
    padding: 20px;
    border-top: 1px solid black;
}

.foundationContentHeading{
    grid-row: 2;
}

.eyeshadowContentHeadin {
    grid-row: 3;
}

.discoveryBttn {
    grid-row: 5;
    display: flex;
    align-items: center;
    border-bottom: none;
}

.expertise {
    display: flex;
    background-color: var(--dark-accent);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:480px;
    gap:18px;
}

.expertiseCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: inherit;
}

.centeredTitle {
    font-size: 57px;
    text-align: center;
    line-height: 55px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--light-accent);
    height: 480px;
    outline: 1px black solid;   
}

.flexLogoImg {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.detailsFlex {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

address {
    display: flex;
    flex-direction: column;
    font-style: normal;
    gap: 2px;
}

address a, .socialFlex a {
    font-family: "geist";
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.footerFlexColumn {
    display: flex;
    flex-direction: column;
    gap:5px;
}
.footerFlexColumn ul, .footerFlexColumn a{
    line-height: 16px;
}

.scheduleFlexRow {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@keyframes dropdown-transition {

    0% {
        opacity:0;
        transform: translateY(-15px);
    }; 
    40% {
        opacity: 0;
        transform: translateY(-0px);
    };
    80% {
        opacity: 0.50;
    };
    100% {
        opacity: 1;
    };

}

.dropdownMenu {
    display: grid;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    visibility: hidden;
    background-color: white;
}

.dropdownMenu--news {
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.title_hover {
    cursor: grab;
}

.title_hover:hover + .dropdownMenu {
    visibility: visible;
    animation-name: dropdown-transition;
    animation-duration: 500ms;
    
    opacity:1;
}

.dropdownMenu__title {
    font-size: 45px;
    color: white;
    background-color: black;
    padding: 16px 20px;
}

.border {
    border: 1px solid black;
}

.border--right {
    border-right: none;
}

.dropdownMenu__card--grid {
    grid-column: 1;
    grid-row: 1/ span 3;
}

.borderMenu__img--flex {
    display: flex;
    border-inline: unset;
}

.dropdownMenu__hgroup {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 5px;
    padding: 20px;
}

.dropdownMenu--bestseller {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    visibility: visible;

}

.title--section { 
    display: grid;
 
}

.bestsellerImg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1;
    grid-column: 2;

}

.title {
    grid-column: 1;
}

.titleHd {
    grid-row:2;
}



