@keyframes dropdown-transition {

    0% {
        opacity:0;
        transform: translateY(-15px);
    }; 
    40% {
        opacity: 0;
        transform: translateY(-0px);
    };
    80% {
        opacity: 0.50;
    };
    100% {
        opacity: 1;
    };
}

.navWrapper {
    display: flex;
    gap: 10px;
}

.dropdownMenu {
    display: grid;
    width: 100%;
    position: absolute;
    z-index: 1;
    top:100%;
    left: 0;
    visibility: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.dropdownMenu--news {
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.transitionZone {
    position: absolute;
    width: 100%;
    right:0;
    top:75%;
    height:30%;
    visibility: hidden;
}

.navTitle:hover + .transitionZone {
    visibility: visible;
}

.navTitle:hover + .transitionZone + .dropdownMenu {
    visibility: visible;
    animation-name: dropdown-transition;
    animation-duration: 500ms;
    opacity:1;
}

.transitionZone:hover + .dropdownMenu {
    visibility: visible;
    animation-name: dropdown-transition;
    animation-duration: 500ms;
    opacity:1;
}

.transitionZone:hover, .dropdownMenu:hover {
    visibility: visible;
}

.navTitle {
    background-color: black;
    color: white;
    font-family: "geist mono";
    cursor: grab;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
}

.dropdownMenu__title--corner {
    font-size: 45px;
    color: white;
    background-color: black;
    padding: 10px;
}

.dropdownMenu__title--padding{
    padding: 10px;
}
.dropdownMenu--title {
    padding: 10px;
    color: black;
    font-size: 35px;
}

.dropdownMenu--padding {
    padding: 10px;
}

.titleSection__title--black {
    font-size:45px;
    color:white;
    background-color: black;
    padding: 20px 10px;
}

.dropdownMenu__card {
    grid-column: 1;
    grid-row: 1 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
}

.dropdownMenu--border {
    border: 1px solid hsl(225, 20%, 96%);
}

.dropdownMenu__title--grid{
    grid-row: 1;
    grid-column: 1 / 3;
}

.dropdownMenu__img--stickCream {
    grid-row: 2;
    grid-column: 1;
    height: 100%;
}

.dropdownMenu__img--settingPowder {
    grid-row: 2;
    grid-column: 2;
    height: 100%;
}

.dropdownMenu__hgroup {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    gap: 5px;
    padding: 5px;
    justify-content: space-around;
}

.dropdownMenu--bestseller {
    display: grid;
    grid-template-columns: 1fr auto auto; 
}

.dropdownMenu__titleWrapper {
    display: grid;
    grid-template-rows: 76px 76px 76px 76px 76px;
}

.dropdownMenu__img--bestsellerproducts { 
    grid-column: 3;
    height: 100%;
}

.dropdownMenu__img--foundations {
    grid-row: 1;
    grid-column: 2;
    height: 100%;
}



